@use '../../../../styles/mixins/' as *;
.rent {
  color: var(--c-white);
  background: linear-gradient(90deg, #381c75 95%, transparent 95%);

  @include size('padding-top', 80, 30, $lg); //padding-block: 80px 130px;
  @include size('padding-bottom', 130, 30, $lg);

  &__inner {
    display: flex;
    align-items: center;

    @include rmax($md) {
      flex-direction: column;
      gap: 35px;
    }
  }
  .content {
    min-width: 50%;
    @include size('padding-right', 200, 0, $lg); //padding-right: 200px;

    @include rmax($lg) {
      min-width: 30%;
    }
  }
  .title {
    margin-bottom: 50px;

    @include rmax($sm) {
      margin-bottom: 25px;
    }
  }
  .text {
    margin-bottom: 30px;
  }
  &-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 10px;
    padding-right: 3vw;

    @include rmax($md) {
      gap: 30px 10px;
    }
    @include rmax($xs) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
.price {
  &-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include size('padding-right', 50, 0, $lg); //padding-right: 50px;

    &::before {
      content: '';
      position: relative;
      width: 36px;
      height: 36px;
      @include bg-contain;
    }
    &.icon-alarm {
      &::before {
        background-image: var(--icon-alarm);
      }
    }
    &.icon-time {
      &::before {
        background-image: var(--icon-time);
      }
    }
    &.icon-sandclock {
      &::before {
        background-image: var(--icon-sandclock);
      }
    }
    &.icon-calendar {
      &::before {
        background-image: var(--icon-calendar);
      }
    }
  }
}
