@use '../../../../styles/mixins/' as *;

.discount {
  padding-block: 80px;
  background-image: url(/src/assets/images/about/discount-bg.webp);
  @include bg-cover;
  background-position: left;

  .discount__inner {
    display: flex;
    justify-content: flex-end;
  }
  .content {
    max-width: 400px;
    width: 100%;
  }
  .title {
    color: var(--c-light-gray);
    span {
      color: var(--c-white);
    }
  }
  .btn {
    margin-top: 40px;
  }
}
