@use '../../../styles/mixins' as *;

.social {
  display: flex;
  gap: 15px;
  align-items: center;

  &__link {
    &::before {
      background-color: var(--c-light-gray);
      width: 14px;
      height: 14px;
    }
    @include hover {
      &::before {
        background-color: var(--c-red);
      }
    }
  }
}
