:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Anton', sans-serif;

  --c-white: #fff;
  --c-light-gray: #b2b2b9;
  --c-gray: #62656a;
  --c-dark-gray: #212223;
  --c-red: #ff285b;
}
